.head{
    background-color: #133446;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.head > div > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}
.carrito{
    height: 20px;
    width: 20px;
}
.boton{
    height: 30px;
    background-color: #ffffff;
    margin-right: 40px;
    border-radius: 10px;
}

.dropdownMenu {
    position: absolute;
    background-color: #9DC4FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 9%;
}

.dropdownMenu button {
    padding: 12px 16px;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
}
.dropdownMenu button:hover {
    background-color: #9DC4FF;
}
.buscador{
    border-radius: 30px;
    width: 200px;
    height: 25px;
    position: relative;
}
