.imge{
    height: 70%;
    width: 90%;
    margin-left: 5%;
    border-radius: 5%;
}

.divfondo{
    flex-direction: column;
    background-color: #e4e4e7;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: auto;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 15px 15px 18px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.container {
    height: auto;
    margin-top: 8%;
}
.productInfo {
    margin: 20px 5%;
    text-align: center;
}
.des{
    background-color: #ffffff;
    width: auto;
    margin-left: 35%;
}
.imagen-sombra {
    box-shadow: 15px 15px 18px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}
.imagen-sombra:hover {
    box-shadow: 10px 10px 15px 0 rgba(3, 145, 247, 0.4);
}
.agregar{
    background-color: #5087ec;
    color: #ffffff;
    height: 40px;
    width: auto;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: medium;
}


@media screen and (min-width: 600px) {
    .imge {
        height: 70%;
        width: 40%;
        margin-left: 10%;
    }

    .divfondo {
        flex-direction: row;
        height: auto;
        width: 80%;
        padding: 40px;
    }

    .productInfo {
        margin-right: 20%;
        text-align: left; 
    }
}


@media screen and (min-width: 900px) {
    .imge {
        height: 70%;
        width: 25%;
        margin-left: 20%;
    }

    .divfondo {
        width: 60%;
    }

    .productInfo {
        margin-right: 10%;
    }
}